.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    padding: 10px 20px;
    background-color: #ffee00;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0;
    margin: 5px 0;
    list-style: none;
}

.dropdown-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.dropdown-list li:last-child {
    border-bottom: none;
}

.dropdown-list li:hover {
    background-color: #f1f1f1;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-list {
    display: block;
}

